@import '../../base/waltti';

/* main theme colors */
$primary-color: #1a1a1a;
$secondary-color: lighten($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

/* Component palette */
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;

/* Navbar logo dimensions */
$nav-logo-width: 11rem;
$nav-logo-height: 3.2rem;
