@import '../../base/waltti';
$dumaBlack: #262c31;
$dumaWhite: #eaeaea;
$french_raspberry: #cc344f;
$honeydew: #F1FAEE;
$errie_black: #1b1b1b;
$prussian_blue: #1D3557;

/* main theme colors */
$background-color: #f0f0f0;
$background-color-darker: #e0e5e8;
$background-color-lighter: #f4f4f5;

$primary-color: #181c56;
$secondary-color: #ff5959; //lighten($primary-color, 20%);
$primary-font-color: $errie_black;
$hilight-color: $secondary-color; //$primary-color;
$action-color: #ff5959;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;
$selected-lang-background: lighten($primary-color, 20);// rgba(0, 0, 0, 0.15);

$standalone-btn-color: #ff5959;
$link-color: $errie_black;

/* Vehicle palette */
$bus-color: #195BAD;
$tram-color: #FFAD33;
$airplane-color: #6083D9;
$metro-color: #D13333;
$rail-color: #FF5B33;
$ferry-color: #62A9DD;
$citybike-color: #19AD33;
$citybike-off-color: #919191;
$walk-color: #75ADAD;
$wait-color: #979797;
$bicycle-color: #19AD33;
$car-color: #FFCC00;
$scooter-color: #75D65B;

/* Fonts */
$font-family: 'Noto Sans', Arial, Georgia, Serif;
$font-weight-book: 400;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-map-container: $font-weight-book;
$letter-spacing: 0.5;

/* Component palette */
$desktop-title-color: #fafafa;
$desktop-title-arrow-icon-color: #1a1a1a;

/* Borders */
$border-radius-small: 2px;
$border-radius: 4px;
$border-radius-bigger: 8px;

$nav-logo-width: 560px;
$nav-logo-height: 2.8em;
